@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}
p{
	text-align: justify;
	font-size: 13px;
}
.nav-shadow {
    box-shadow: 0 2px 15px rgb(0 0 0 / 5%) !important;
}
.nav-border{
	border-right: 3px solid #fc4a1a;
}
.nav-pills .nav-link {
  padding: 20px;
  width: 300px;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  color: #333;
  transition: all 0.3s;
}
.nav-pills .nav-link.active {
  background: -webkit-linear-gradient(30deg, #fc4a1a, #f7b733);
  background: -o-linear-gradient(30deg, #fc4a1a, #f7b733);
  background: linear-gradient(120deg, #fc4a1a, #f7b733);
  color: #fff;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
.nav-pills .nav-link{
	border-radius: 0px;
}
.nav-link .circle-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #f7b733;
    background: #fff;
    color: #fc4a1a;
    font-size: 22px;
}
.img-cont{
	max-width: 350px;
		width: 100%;
}